.calculator {
  display: flex;
  flex-direction: column;
  height: 620px;
  width: 400px;
  margin: 0 auto;
}

.screen {
  background-color: rgb(50, 50, 50);
  display: flex;
  height: 120px;
}

.keyboard {
  justify-content: center;
  gap: 1px;
  margin-top: 1px;
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  height: 500px;
}

.key {
  height: 99px;
  width: 99px;
  opacity: 0.9;
  margin: 0;
  border: none;
}

.key:hover {
  cursor: pointer;
  opacity: 1;

}

.clear {
  background-color: blue;
}

.operator {
  background-color: orange;
}

.number {
  background-color: rgb(192, 192, 192);
}

.result {
  background-color: orange;
}

.zero {
  width: 199px;
}

